.magazine__aside-para {
  box-sizing: border-box;
  margin: 0;
  padding: 0 5px 0 0;
  font-style: italic;
  color: #1c629e;
  background-color: #e3f5ff;
  background-image: linear-gradient(to right, #e3f5ff 0% 40%, #fff 60% 100%);
  text-align: right;
  border-right: 4px solid #1c629e;
}

@media screen and (max-width: 768px) {
  .magazine__aside-para {
    padding: 0 0 0 5px;
    text-align: justify;
    background-image: linear-gradient(to left, #e3f5ff 0% 40%, #fff 60% 100%);
    border-left: 4px solid #1c629e;
    border-right: none;
  }
}